* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    padding-top: 20px;
    font-family: 'Lexend Deca', 'Big Shoulders Display', sans-serif,cursive;
}
.header{
    display: flex;
    justify-content: center;
}
.header h1 {
    font-size: 50px;
    letter-spacing: 10px;
    margin-bottom: 25px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-auto-columns: 50px;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 0 0 50px #000;
    border-radius: 40px;
    height: 100%;
    width: 80vw;
    margin: 20px auto;
    padding: 100px;
}

@media screen and (max-width: 950px) {
    .header h1 {
        font-size: 35px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-auto-columns: 50px;
        background-color: hsl(0, 0%, 95%);
        box-shadow: 0 0 50px #000;
        border-radius: 40px;
        height: 100%;
        min-width: 80vw;
        margin: 20px 50px;
        padding: 60px;
    }
    .grid-item button {
        font-size: 10px;
    }
}
.item1::before, .item3::after {
    content: "";
    height: 100%;
    border-radius: 15%;
}

.grid-item {
    display: flex;
    flex-flow: column wrap;
    padding: 40px 60px 40px 20px;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 500px;
}
.grid-item h2 {
    font-size: 35px;

}
.grid-item p, h2, button {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}

.grid-item button {
    color: #000;
    background: hsla(0, 0%, 100%, 0.75);
    border: 2px solid #fff;
    /* background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9); */
    /* -webkit-border-radius: 43;
    -moz-border-radius: 43; */
    border-radius: 43px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    justify-self: flex-end;
    align-self: flex-start;
    outline: none;
}
.grid-item button:hover {
    background: transparent;
}

.item1 {
    border-radius: 30px 0 0 30px;
    background-color: hsl(31, 77%, 52%);
}

.item2 {
    background-color: hsl(184, 100%, 22%);
}

.item3{
    border-radius: 0 30px 30px 0;
    background-color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 950px){
    .item1 {
        border-radius: 30px 30px 0 0;
    }
    .item3 {
        border-radius: 0 0 30px 30px;
    }       
}